azure-ai-projects==1.0.0
azure-ai-agents==1.1.0

# azure-ai-projects==2.0.0b3
# azure-ai-agents==1.2.0b5
# agent-framework==1.0.0b260123

openai==2.16.0
azure-search-documents==11.6.0
azure-identity==1.25.1
pypdf==6.6.2
reportlab==4.4.9
python-dotenv==1.2.2
pandas==2.3.3
azure-ai-evaluation==1.14.0
azure-ai-evaluation[redteam]==1.14.0